body {
  font-family: Arial;
  text-align: center;
  background-color: #1b1c1d;
  color: #eee;
}

canvas {
  border: 1px solid #444;
  margin-top: 1em;
  border-radius: 5px;
}

.tab-group, .sub-tab-group {
  margin: 1em;
}

.tab-button, .sub-tab-button {
  margin: 0.2em;
  padding: 0.6em 1em;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-button:hover, .sub-tab-button:hover {
  margin: 0.2em;
  padding: 0.6em 1em;
  background-color: #454545;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.tab-button.active, .sub-tab-button.active {
  background-color: #625050;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-button.active:hover, .sub-tab-button.active:hover {
  background-color: #454545;
}

h1 {
  margin-top: 100px;
  margin-bottom: 60px;
}